body {
	background-color: #ABD6D0;
}

form {
	background-color: #FAFAFA;
	padding: 3.5% 5%;
	border-radius: 4px;
}

#title, #description {
	text-align: center;
}

#description {
  margin-bottom: 30px;
}

/* grid is 1 columns @100% on mobile */
.two-grid-md {
  display: flex;
  flex-direction: column;
	padding: 5px;
}

input {
  padding: 6px 4px;
}

.two-grid-md input, .two-grid-md select {
	margin: 10px 0;
}

.two-grid-md .radio-group input {
	margin: 5px 10px;
}

fieldset {
	margin: 0;
	padding: 5px;
	border: 0;
}

@media (min-width: 768px) {
	input, select, .two-grid-md .radio-group input {
		margin-top: 0;
	}

  .two-grid-md {
  	display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
		align-items: center;
    padding-right: 5%;
  }
  .two-grid-md label {
  	justify-self: end;
  	text-align: right;
  }
  
  .two-grid-md input {
  	justify-self: start;
  }
	
	.two-grid-md label[for="recommend"] {
		align-self: start;
	}
}
